body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 150px;
  height: 150px;
  background-color: teal;
  transition: transform 0.2s;
}
